langchain
langchain-community
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
duckduckgo-search
beautifulsoup4
requests
playwright
fastapi
uvicorn
streamlit
python-dotenv
ollama
rank_bm25
langchain-google-genai

# Authentication
pymongo
bcrypt==4.3.0
python-jose[cryptography]
passlib[bcrypt] == 1.7.4
python-multipart
